<div class="toolbar tabbar tabbar-labels">
    <div class="toolbar-inner">
        <a href="#" class="tab-link" toPage="myProfile">
            <i class="WeSpark_iconfont bigger-icon">&#xe618</i>
            <span class="tabbar-label">{{i18n-text 'home'}}</span>
        </a>
        {{!-- <a href="#" class="tab-link" toPage="myMessage">
            <i class="WeSpark_iconfont bigger-icon">&#xe639</i>
            <span class="tabbar-label">{{i18n-text 'news'}}</span>
        </a> --}}
        <a href="#" class="tab-link" toPage="myContact">
            <i class="WeSpark_iconfont bigger-icon">&#xe61a</i>
            <span class="tabbar-label">{{i18n-text 'contact'}}</span>
        </a>
        <a href="#" class="tab-link active" toPage="mySelf">
            <i class="WeSpark_iconfont bigger-icon">&#xe61d</i>
            <span class="tabbar-label">{{i18n-text 'myself'}}</span>
        </a>
    </div>
</div>
<div class="page-content">
        {{> userInfoCard}}
        <div class="mobileframe" style="margin-top:0px">
            <div class="wx-group">
                <div class="wx-title"></div>
                <ul class="wx-settings">
                    <li class="wx-item" toPage="setting">
                         <span class="wx-content">
                         <i class="cdp-icon-right"></i>
                         </span>
                        <div class="wx-name"><i class="WeSpark_iconfont bigger-icon">&#xe611</i><span>{{i18n-text 'setting'}}</span></div>
                    </li>
                    {{!-- <li class="wx-item" toPage="feedback">
                         <span class="wx-content">
                         <i class="cdp-icon-right"></i>
                         </span>
                        <div class="wx-name"><i class="WeSpark_iconfont bigger-icon pink">&#xe62e</i><span>{{i18n-text 'my-feedback'}}</span></div>
                    </li> --}}
                </ul>
            </div>
            {{!-- <div class="wx-group">
                <div class="wx-title"></div>
                <ul class="wx-settings">
                    <li class="wx-item" topage="online">
                         <span class="wx-content">
                         <i class="cdp-icon-right"></i>
                         </span>
                        <div class="wx-name"><i class="WeSpark_iconfont bigger-icon blue">&#xe612</i><span>{{i18n-text 'servicePhone'}}</span></div>
                    </li>
                     <li class="wx-item" id="recommendF">
                         <span class="wx-content">
                         <i class="cdp-icon-right"></i>
                         </span>
                        <div class="wx-name"><i class="WeSpark_iconfont bigger-icon green">&#xe62f</i><span>{{i18n-text 'recommendF'}}</span></div>
                    </li>
                </ul>
            </div> --}}
            <a href="javascript:void(0);" class="weui_btn weui_btn_warn quitSystem btn-quit-color" style="margin: 20px; color: white">{{i18n-text 'quitSys'}}</a>
        </div>
    </div>

