<div class="page-content">
            {{#if isNull}}
                {{> nullCard}}
            {{else}}
                <div class="contact-header">
                    <div class="wx-group">
                        <ul class="wx-person">
                            <li class="wx-item">
                                <div class="wx-icon" id="wx_icon">
                                    {{# if photo}} <img src={{photo}} style="width:44px;height:44px" onerror="javascript:this.src='./img/default.jpg';"> {{else}} <span class="wx-photo bg-{{color}}"> <i class="fault-photo">{{photoText}}</i>
                                    </span> {{/if}}
                                </div>
                                <div class="wx-name">
                                    {{name}} {{# if gender}} <i class="cdp-icon-nan"></i> {{else}} <i class="cdp-icon-4"></i> {{/if}}
                                </div> {{#if post}}
                                <div class="wx-post">
                                    <span>{{post}}</span>
                                </div> {{/if}}
                        </ul>
                    </div>
                </div>
                <div class="list-block">
                    <div class="list-group">
                        <ul>
                            <li><a href="tel:{{mobile}}" class="item-link item-content external">
                                    <div class="item-media">
                                        <i class="icon WeSpark_iconfont">&#xe600;</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title">{{mobile}}</div>
                                    </div>
                            </a></li>
                            <li><a href="sms:{{mobile}}" class="item-link item-content external">
                                    <div class="item-media">
                                        <i class="icon WeSpark_iconfont">&#xe603;</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title">{{mobile}}</div>
                                    </div>
                            </a></li>
                            <li><a href="mailto:{{email}}" class="item-link item-content external">
                                    <div class="item-media">
                                        <i class="icon WeSpark_iconfont">&#xe601;</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title">{{email}}</div>
                                    </div>
                            </a></li>
                        </ul>
                    </div>
                    <div class="weui_cells_title"></div>
                    <div class="list-group">
                        {{#if organization}}
                        <ul> <li><a  class=" item-content external">
                            <div class="item-media">
                                <i class="icon WeSpark_iconfont">&#xe634;</i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title" style="color:rgb(125,125,125)">{{organization}}</div>
                            </div>
                        </a>
                        </li>
                            <li><a  class=" item-content external">
                                <div class="item-media">
                                    <i class="icon WeSpark_iconfont">&#xe636;</i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title" style="color:rgb(125,125,125)">{{post}}</div>
                                </div>
                            </a></li>
                        </li>
                            <li><a  class=" item-content external">
                                <div class="item-media">
                                    <i class="icon WeSpark_iconfont">&#xe637;</i>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title" style="color:rgb(125,125,125)">{{supervisor}}</div>
                                </div>
                            </a></li>
                        </ul>
                    {{/if}}
                    </div>
                </div>
                {{#if admin}} {{else}}
                {{#if hasFavor}}
                        <div class="weui_cells_title"></div>
                    <div class="list-block">
                        <div class="list-group">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="icon cdpfont">&#xe623;</i>
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title">{{i18n-text 'collection'}}</div>
                                            <div class="item-after" id="myContact_contactDetail_checkbox">
                                                <label class="label-switch" id="myContact_contactDetail_label"> <input id="isFavorite" type="checkbox" {{#if favorite}}checked="on" {{/if}}" />
                                                    <div class="checkbox"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {{/if}}
            {{/if}}
            {{/if}}

