<div data-page="index" class="page toolbar-fixed" id="indexPage">
    <div class="toolbar tabbar tabbar-labels">
        <div class="toolbar-inner">
            <a href="#" class="tab-link active" toPage="myProfile">
                <i class="WeSpark_iconfont bigger-icon">&#xe619</i>
                <span class="tabbar-label">{{i18n-text 'home'}}</span>
            </a>
            {{!-- <a href="#" class="tab-link" toPage="myMessage">
                <i class="WeSpark_iconfont bigger-icon">&#xe639</i>
                <i class="pushFlagNum-s"></i>
                <span class="tabbar-label">{{i18n-text 'news'}}</span>
            </a> --}}
            <a href="#" class="tab-link" toPage="myContact">
                <i class="WeSpark_iconfont bigger-icon">&#xe62a</i>
                <span class="tabbar-label">{{i18n-text 'contact'}}</span>
            </a>
            <a href="#" class="tab-link" toPage="mySelf">
                <i class="WeSpark_iconfont bigger-icon">&#xe62b</i>
                <span class="tabbar-label">{{i18n-text 'myself'}}</span>
            </a>
        </div>
    </div>
    <div class="page-content my-profile">
        <div class="swiper-container swiper-1">
            <div class="swiper-wrapper">
                {{#each banner}}
                    <div class="ess_banner swiper-slide"><img class="ess_img" index={{index}} title={{title}} style="width: 100%" src={{img}} action={{action}} /></div>
                {{/each}}
            </div>
            <div class="swiper-pagination pagination-1"></div>
        </div>
        <section id="user_projectList_wrap" class="main-section-panel">
            {{#each profile}}
                <div class="entry form-item-list section-item" >
                    <div class="wx-circle" style="width:75px" toPage="{{code}}">
                        <img src="img/icons/{{code}}.png" style="width:100%;height:100%"/>
                    </div>
                    <span>{{title}}</span>
                </div>
            {{/each}}
        </section>
    </div>
</div>



                                                                                                                                                                                                                                                                                                                                                                                                                                         