<div style="height: 25px;"></div>

<div class="list-block" style="margin-bottom: 15px">
    <ul>
        <li>
            <div class="item-content">
                <div class="item-media"></div>
                <div class="item-inner">
                    <div class="item-input">
                        <input id="orgPwd" type="password" placeholder={{i18n-text 'oldP'}}>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="item-content">
                <div class="item-media"></div>
                <div class="item-inner">
                    <div class="item-input">
                        <input id="newPwd" type="password" placeholder={{i18n-text 'newP'}}>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="item-content">
                <div class="item-media"></div>
                <div class="item-inner">
                    <div class="item-input">
                        <input id="new2Pwd" type="password" placeholder={{i18n-text 'confirmN'}}>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="content-block-title" style="margin-top: 15px;margin-bottom: 25px;line-height: 20px;"><h2>{{i18n-text 'passRule'}}</h2>

    <h3>{{i18n-text 'lengthRule'}}</h3>

    <h3>{{i18n-text 'contentRule'}}</h3></div>

<div class="row" style="margin:5%;text-align: center;">
    <div class="col-50">
        <a href="#" class="button button-big button-cancel">{{i18n-text 'cancelP'}}</a>
    </div>
    <div class="col-50">
        <a href="#" class="button button-big button-submit active">{{i18n-text 'confirmP'}}</a>
    </div>
</div>

