<div class="popup">
    <div class="view view-popup navbar-fixed">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="#" class="link close-popup">{{i18n-text 'closeP'}}</a>
                    </div>
                    <div class="center">{{i18n-text 'edit-attachment'}}</div>
                    <div class="right" style="justify-content:flex-end">
                        <a href="javascript:void(0)" class="link" id="save_photo">{{i18n-text 'saveP'}}</a>
                    </div>
                </div>
            </div>
            <div class="page-content">
                        <section class="holder">
                            <div>
                                <div class="picture-holder" id="picture-holder">
                                    {{#if photo}}
                                        <img src="{{photo}}" width="200" height="200"/>
                                    {{else}}
                                            <i class="WeSpark_iconfont">&#xe632</i>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="wx-form">
                                <button id="Photograph" class="wx-button wx-orange">{{i18n-text 'takeP'}}</button>
                            </div>
                            <div class="wx-form">
                                <button id="AccesstoPhone" class="wx-button wx-orange">{{i18n-text 'findP'}}</button>
                            </div>
                        </section>
            </div>
        </div>
    </div>