<div class="page-content">
    <div class="card  ">
    <div class="mobileframe">
        <div class="wx-group">
            <div class="wx-title"></div>
            <ul class="wx-settings">
                <li class="wx-item" toPage="changePwd">
                                 <span class="wx-content">
                                 <i class="cdp-icon-right"></i>
                                 </span>
                    <div class="wx-name"><span>{{i18n-text 'accountSet'}}</span></div>
                </li>
                <li class="wx-item" id="changeLan">
                                 <span class="wx-content">
                                 <i class="cdp-icon-right"></i>
                                 </span>
                    <div class="wx-name"><span>{{i18n-text 'lanSet'}}</span></div>
                </li>
                <li class="wx-item" toPage="notification">
                                 <span class="wx-content">
                                 <i class="cdp-icon-right"></i>
                                 </span>
                    <div class="wx-name"><span>{{i18n-text 'messageN'}}</span></div>
                </li>
            </ul>
        </div>
        <div class="wx-group">
            <div class="wx-title"></div>
            <ul class="wx-settings">
                <li class="wx-item" id="updateButton">
                                 <span class="wx-content">
                                 <i class="cdp-icon-right"></i>
                                 </span>
                    <div class="wx-name"><span>{{i18n-text 'updateV'}}</span></div>
                </li>
                <li class="wx-item" topage="aboutStar">
                                 <span class="wx-content">
                                 <i class="cdp-icon-right"></i>
                                 </span>
                    <div class="wx-name"><span>{{i18n-text 'about'}}</span></div>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>